common --enable_bzlmod=true
common --registry=https://bcr.bazel.build
common --registry=https://baidu.github.io/babylon/registry

build --repo_env=BAZEL_CXXOPTS="-std=c++20"
build --cxxopt=-std=c++20
build --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=1
build --cxxopt=-fPIC


build:debug --cxxopt=-UNDEBUG
build:release --cxxopt=-DNDEBUG

# build --features=thin_lto
