common --enable_bzlmod=true
common --registry=https://bcr.bazel.build
common --registry=https://baidu.github.io/babylon/registry

build --repo_env=BAZEL_CXXOPTS="-std=c++17"
build --cxxopt=-std=c++17
build --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=1
build --cxxopt=-fPIC

build --action_env=DATAFLOW-CLANG-VERSION=18
build --compilation_mode=dbg
build:debug --cxxopt=-UNDEBUG
build:release --cxxopt=-DNDEBUG

# build --features=thin_lto

# cuda
# Convenient flag shortcuts.
build --@rules_cuda//cuda:enable
build --flag_alias=cuda_archs=@rules_cuda//cuda:archs