---
BasedOnStyle: Google
TabWidth: 4
ColumnLimit: 100
IncludeCategories:
    - Regex: '^"Python\.h"'
      Priority: 0
    - Regex: '^<'
      Priority: 1
    - Regex: '^"absl'
      Priority: 2
    - Regex: '^"glog'
      Priority: 2
    - Regex: '^"pybind11'
      Priority: 2
    - Regex: '^"zlib'
      Priority: 2
    - Regex: '^"'
      Priority: 3
SortIncludes: true